@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url("https://use.typekit.net/pul1ftd.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #222223;
  --black-overlay: #22222350;
  --white: #fff;
  --white-overlay: #ffffff80;
  --pink: #ebc6de;
  --purple: #c1a7e2;
  --mint: #b6e0d7;
  --header: "Cherry Bomb One", cursive;
  --serif: "mrs-eaves", "Baskerville", serif;
  --sans-serif: "mr-eaves-sans", sans-serif;
  --small-caps: "mrs-eaves-roman-petite-caps", serif;
}

html {
  scroll-behavior: smooth;
  background-color: var(--pink);
  font-family: var(--serif);
  color: var(--black);
  font-size: 20px;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 0;

}

h1, .faux-header {
  font-family: var(--header);
  font-size: 3.5rem;
  line-height: 1em;
  margin-bottom: 1.5rem;
}
h2 {
  font-family: var(--serif);
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1em;
}
li {
  margin-bottom: 0.9rem;
  line-height: 1rem;
}
/***************
***Global Nav***
***************/
nav {
  height: 50px;
  background-color: var(--black);
  color: var(--pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  padding-top: 5px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 20px;
  background-color: var(--pink);
}

.nav-links {
  background-color: var(--black);
  width: 30%;
  position: fixed;
  top: 50px;
  left: 0;
  display: none;
  margin: 0;
}

ul {
  list-style: none;
}
.nav-links li {
  padding: 10px 0;
  margin: 0;
  transition: 0.25s;
}
.nav-links a{
  padding: 10px;
  padding-left: 20px;
  color: var(--pink);
  text-decoration: none;
  font-family: var(--small-caps);
  font-size: 1.2rem;
  transition: 0.25s;
}

.nav-links li:hover {
  background-color: var(--mint);
}
.nav-links a:hover, .nav-links a:focus {
  color: var(--black)
}

.expanded {
  display: unset;
}

/**desktop display**/
@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: relative;
    top: 0;
    width: auto;
    background: none;
  }
  .nav-links li {
    height: 50px;
  }

  .nav-links a {
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

/*****************
*Modular Sections*
*****************/
.content-wrapper {
  width: 80%;
  max-width: 1400px;
  margin: 20px auto;
}

.module {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.asides {
  background-color: var(--black);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.asides h3 {
  color: var(--pink);
  margin-left: 5px;
}
.aside-box {
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
  color: var(--purple);
  font-family: var(--sans-serif);
  font-size: 0.9rem;
}

.aside-box h4 {
  font-size: 1rem;
}

.img-container {
  height: 100%;
  border-radius: 5px;
  margin: 5px 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.ctr {
  text-align: center;
}

.block-txt {
  max-width: 600px;
  margin: 0 auto;
}

/** desktop display **/
@media screen and (min-width: 850px) {
  .module {
    flex-direction: row;
    align-items: center;
  }

  /*use img-left when image is after text in column flow but you want it before in row flow,
  use img-right when image is before text in column flow but you want it after in row flow*/
  .img-left, .img-right {
    flex-direction: row-reverse;
  }

  .rt {
    text-align: right;
  }
}

/****************
**Tools Used****
****************/
	.tool-cards {
		margin: 10px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}
	.tool-card {
		background: var(--black);
		color: var(--pink);
		padding: 20px;
		border-radius: 5px;
		/* display: flex;
		flex-direction: column;
		justify-content: space-around; */
	}
  .tool-card ul {
    margin-left: 10px;
    list-style-type: none;
  }


	@media screen and (min-width: 650px) {
		.tool-cards {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (min-width: 1100px) {
		.tool-cards {
			grid-template-columns: repeat(3, 1fr);	
		}

	}

/****************
*Buttons & Links*
****************/
.btn-link, button {
  font-family: var(--serif);
  font-size: 1rem;
  padding: 8px 16px;
  margin: 10px auto;
  text-decoration: none;
  color: var(--pink);
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-link:hover, button:hover {
  background-color: var(--pink);
  color: var(--black);
}

a.btn-link{
  display: inline-block;
}

