---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
const pageTitle = "Capstone Project: Sweet Little Hauntings"
---
<BaseLayout pageTitle={ pageTitle }>
	<Hero pageTitle = { pageTitle }>
		<h2>Exploring themes of grief through mystery, horror, and design.</h2>
	</Hero>
</BaseLayout>

