---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
import SpoilerButton from "../components/SpoilerButton.astro"
const pageTitle = "Capstone Project: Sweet Little Hauntings"
---
<BaseLayout pageTitle={ pageTitle }>
	<Hero pageTitle = { pageTitle }>
		<h2>An unfiction project exploring themes of grief through mystery, horror, and design.</h2>
		<p>
			How do you mourn someone who never really existed?
		</p>
	</Hero>
	<div class="content-wrapper module" id="about">
		<div class="about-main">
			<h2>About the Project</h2>
			<p>
				On the surface, Sweet Little Hauntings is an online art shop that sells a variety of trinkets and stationary items, such as enamel pins, acrylic charms, and stickers with a pastel goth aesthetic. However, with a bit of digging the website becomes a stage for a secret narrative of loss and grief that site users can unlock by solving hidden puzzles. Both the shop and the narrative take inspiration from finding comfort in discomfort, the darker aspects of life, and what lies beyond.
			</p>
			<p>
				This unfiction project explores experimental methods of storytelling by inviting the site visitors to dive down a rabbit hole of mystery and horror. It takes inspiration from previous works like House of Leaves by Mark Z. Danielewski, Omega Mart from Meow Wolf, and videos like Unedited Footage of a Bear, all of which start out relatively normal but quickly spiral into something strange, fantastic, and horrifying. Sweet Little Hauntings aims to make its audience think and feel in ways they may not experience in their everyday lives.
			</p>
		</div>

		<div class="asides">
			<div class="aside-box">
				<h3>What is Unfiction?</h3>
				<p>
					Unfiction is a method of storytelling where a narrative is presented as if it were real, allowing the audience to fully suspend their disbelief and immerse themselves in the story. They typically start out grounded in our reality, and then integrate more fantastical, supernatural, or horrific elements while still maintaining the insistence on reality.
				</p>
			</div>

			<div class="aside-box">
				<h3>What is an ARG?</h3>
				<p>
					An ARG, or Alternate Reality Game, is a type of unfiction that requires audience participation, typically in the form of solving puzzles that are hidden within the presentation of the story. Tradionally, an ARG will have a community working together to solve the clues the creator has planted, and the creator will release new parts of the story when the last part has been solved.
				</p>
			</div>			
		</div>

		</div>
		

	<div class="content-wrapper module" id="problem-statement">
		<h2>What problem does this solve?</h2>
		<p>
			I want to connect with others and form community around difficult or sensitive topics through creative means of storytelling.
		</p>
		<h3>How does this help?</h3>
		<p>
			Topics like mental illness and grief can be very isolating things, and they can be difficult to talk about outright. I know I personally have a hard time communicating about my own struggles.
		</p>
		<p>
			A lot of the story I'm trying to tell here stems from a loss I suffered in late 2022. This project is partly a way for me to work through my own grief and process how life has changed for me since.
		</p>
		<p>
			With grief often comes questions: “Why did this happen?” “How long will I feel like this?” “Why did [I/they/we] deserve this?”. The question I've been asking the most that's been driving the narrative for this project is:
		</p>
		<p><strong>How do you mourn someone who never really existed?</strong></p>
	</div>
	<div class="content-wrapper module" id="research">
		<h2>Research</h2>
		<p>My research began in the Summer of 2024 in Design Studio, when I was initially designing the Sweet Little Hauntings brand. I started by looking into the aesthetics and history of pastel goth and pastel horror, as well as the logistics of product manufacturing for the shop.</p>
		<p>
			Since then, I have expanded my research to include more ARG projects, as well as practical research into JavaScript frameworks and code snippets to achieve what I need in the website. I've collected all of my inspiration and sources from the entire process into my Research Archive document.
		</p>
		<p><a href="https://docs.google.com/document/d/1iyRk76pBc7zwXu0BeqfB3FEI5CUzFm-2aZ0B_N0XQIg/edit?tab=t.0#heading=h.mk5fx75abz1g" class="btn-link" target="_blank">Research Archive</a></p>
		<h3>Data Collection</h3>
		<p>
			I reached out to potential audience members with an open, anonymous survey to learn about what others look for in horror media and ARG projects. This gave me some good insight on my audience and helped to inform the way I constructed the project.
		</p>
		<h3>User Testing</h3>
		<p>
			Habitant faucibus sociosqu montes finibus mus torquent elit. In luctus bibendum vestibulum integer sapien. Cursus nam ultricies class metus eget quisque. Risus purus orci vel semper at laoreet class primis platea.
		</p>
		<p>
			Sem sodales volutpat laoreet in vehicula malesuada nunc vulputate turpis nullam erat. Consectetur dapibus blandit aliquet venenatis ullamcorper elit odio a. Est lorem id lectus eget tellus nec venenatis maximus ultrices mus. Fermentum tempus interdum inceptos lorem faucibus diam justo lacus accumsan. Habitasse elit dis hac aenean mauris diam pretium. Aliquet morbi mattis etiam tortor fusce augue lacinia netus. Finibus pellentesque vehicula dignissim lorem conubia fermentum egestas ac. Ac sagittis ornare litora ut ante euismod pede etiam posuere turpis fringilla.
		</p>
	</div>
	<div class="content-wrapper module" id="process">
		<h2>Process</h2>
		<p>This is how I made it Proin nulla efficitur dui faucibus urna. Interdum id dignissim arcu ante dictumst etiam facilisis felis elementum quis finibus. Nulla vulputate quam nunc viverra rhoncus natoque libero. Consectetur diam orci molestie felis convallis duis egestas vivamus.</p>
		<p>Et ante elit potenti ornare leo nam sed faucibus libero lacinia. Magna ligula fames tempus faucibus diam morbi nibh neque. Convallis diam id nascetur letius turpis. Nullam lorem posuere habitant nec vehicula mollis eros risus.</p>
		<h3 id="tools">Tools and Technology</h3>
		A quick rundown of everything I used for this project.
		<div class="tool-cards">
			<div class="tool-card">
				<h4>Organization and Planning</h4>
				<ul>
					<li><strong>Notion</strong> for general planning, note-taking, and story outlines</li>
					<li><strong>Physical sketchbook</strong> for product, brand, and website ideation</li>
					<li><strong>Procreate</strong> for product ideation and sketching</li>
					<li><strong>Figma/Figjam</strong> for UX design</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Branding</h4>
				<ul>
					<li><strong>Adobe Illustrator</strong> for logo designs, icons, and Frankie graphics</li>
					<li><strong></strong></li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Graphics</h4>
				<ul>
					<li><strong>Clip Studio Paint</strong> for illustrations</li>
					<li><strong>Adobe Photoshop</strong>for mock-ups</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Coding</h4>
				<ul>
					<li><strong>HTML, CSS, and Javascript</strong> as coding languages used</li>
					<li><strong>Astro</strong> as a framework to organize and optimize the website</li>
					<li><strong>VS Code</strong> to have somewhere to write and test the code</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Website</h4>
				<ul>
					<li><strong>Cloudflare</strong> for domain registration and web hosting</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Category</h4>
				<ul>
					<li><strong>Tool or Tech used</strong> and what exactly I used it for</li>
				</ul>
			</div>
		</div>
		<p>
			Some kind of wrap-up statement about process and tools.
		</p>
	</div>
	<div class="content-wrapper module" id="deliverables">
		<h2>Deliverables</h2>
		<p>This is what I turned in Parturient id aliquam mattis eleifend fermentum. Convallis nam ultricies felis etiam adipiscing curabitur libero mi diam accumsan.</p>
		<h3>The Front Rooms</h3>
		<p>
			Explaining the surface elements of the website Morbi fames hac molestie commodo elit rhoncus natoque auctor quam id. Commodo phasellus semper habitant aptent elit nibh natoque eu diam potenti. Sed ultricies platea euismod faucibus libero magnis ultrices curabitur. Leo diam dictum cras habitasse purus accumsan rhoncus congue lacinia.
		</p>
		<p>
			Tristique etiam vulputate praesent diam molestie platea morbi. Si consequat montes fringilla mollis natoque sodales sit dui quam lacus. Mollis primis erat curabitur habitasse nullam pretium pede tincidunt. Imperdiet natoque augue aliquam vulputate aliquet class metus si netus nascetur justo.
		</p>
		<h3>The Back Rooms</h3>
		<p>
			Explaining the hidden elements of the site Dolor proin condimentum sociosqu et mattis penatibus suspendisse pretium. Cubilia vitae ac mattis netus egestas mus auctor dictumst posuere feugiat. In parturient mattis duis imperdiet pretium molestie vivamus aliquam tempus nunc curabitur. Mi quis sem vivamus lectus leo.
		</p>
		<p>
			Maybe include a spoiler button to go more in-depth on the puzzles?
		</p>
		<SpoilerButton>
			<div class="img-container">
				<img src="/images/user-flow_denial.jpg" alt="the intended user flow for the Denial act of Sweet Little Hauntings">
			</div>
			<div class="img-container">
				<img src="/images/user-flow_anger.jpg" alt="the intended user flow for the Anger act of Sweet Little Hauntings">
			</div>
		</SpoilerButton>
		<h3>The Story</h3>
		<p>As of now, the first two acts of a five act story are live on the site and ready to be discovered.</p>
		<SpoilerButton>
			<p>Add better explanation of story content here.</p>
		</SpoilerButton>
	</div>
	<div class="content-wrapper module" id="summary">
		<h2>Summary</h2>
		<p>
			Summary of the project Adipiscing ad turpis suscipit class cursus viverra natoque. Nibh sapien habitasse molestie ex suspendisse. Venenatis ante adipiscing suspendisse aptent at odio semper nam fames rutrum viverra. Integer purus mus senectus elit porttitor venenatis consectetuer dolor sollicitudin mollis.
		</p>
		<p>
			Eu tincidunt sem elit parturient luctus ligula quam magnis hac laoreet neque. Vivamus efficitur quisque metus mus potenti maximus interdum luctus porttitor facilisis. Aliquet si arcu pulvinar pretium parturient luctus. Urna dis aliquet torquent massa lacus eleifend mi magnis iaculis.
		</p>
	</div>
</BaseLayout>
