---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
import SpoilerButton from "../components/SpoilerButton.astro"
const pageTitle = "Capstone Project: Sweet Little Hauntings"
---
<BaseLayout pageTitle={ pageTitle }>
	<Hero pageTitle = { pageTitle }>
		<h2>An unfiction project exploring themes of grief through mystery, horror, and design.</h2>
		<p>
			How do you mourn someone who never really existed?
		</p>
	</Hero>
	<div class="content-wrapper" id="about">
		<h2>About the Project</h2>
		<div class="module img-right">
			<div class="img-container">
				<img src="/images/old-site-mockups.jpg" alt="">
			</div>
			<p>
				On the surface, Sweet Little Hauntings is an online art shop that sells a variety of trinkets and stationary items, such as enamel pins, acrylic charms, and stickers with a pastel goth aesthetic. However, with a bit of digging the website becomes a stage for a secret narrative of loss and grief that site users can unlock by solving hidden puzzles. Both the shop and the narrative take inspiration from finding comfort in discomfort, the darker aspects of life, and what lies beyond.
			</p>
		</div>
			<p>
				This unfiction project explores experimental methods of storytelling by inviting the site visitors to dive down a rabbit hole of mystery and horror. It takes inspiration from previous works like House of Leaves by Mark Z. Danielewski, Omega Mart from Meow Wolf, and videos like Unedited Footage of a Bear, all of which start out relatively normal but quickly spiral into something strange, fantastic, and horrifying. Sweet Little Hauntings aims to make its audience think and feel in ways they may not experience in their everyday lives.
			</p>
			<div class="asides">
				<h3>Definitions:</h3>
				<div class="module">
					<div class="aside-box">
						<h4>What is Unfiction?</h4>
						<p>
							Unfiction is a method of storytelling where a narrative is presented as if it were real, allowing the audience to fully suspend their disbelief and immerse themselves in the story. They typically start out grounded in our reality, and then integrate more fantastical, supernatural, or horrific elements while still maintaining the insistence on reality.
						</p>
					</div>
					<div class="aside-box">
						<h4>What is an ARG?</h4>
						<p>
							An ARG, or Alternate Reality Game, is a type of unfiction that requires audience participation, typically in the form of solving puzzles that are hidden within the presentation of the story. Tradionally, an ARG will have a community working together to solve the clues the creator has planted, and the creator will release new parts of the story when the last part has been solved.
						</p>
					</div>	
					</div>							
				</div>
			</div>
		</div>
		
	<div class="content-wrapper" id="problem-statement">
		<div class="block-txt">
			<h2 class="ctr">Finding a Problem</h2>
			<p>
				Admittedly, going into this project felt more like a solution in search of a problem. I knew I wanted to make this thing, but why? By probing deeper into my motivations for creating this project, I realized the underlying problem was this:
			</p>
			<p>
				<strong>I want to connect with others and form community around difficult or sensitive topics through creative means of storytelling.</strong>
			</p>
		</div>
		
			<div class="module">

			<div class="img-container">
				<img src="/images/frankie-boba-charm.jpg" alt="">
			</div>
		<div class="module-child">


			<h3>How does this help?</h3>
			<p>
				Topics like mental illness and grief can be very isolating things, and they can be difficult to talk about outright. I know I personally have a hard time communicating about my own struggles.
			</p>
			<p>
				A lot of the story I'm trying to tell here stems from a loss I suffered in late 2022. This project is partly a way for me to work through my own grief and process how life has changed for me since.
			</p>
			<p>
				With grief often comes questions: “Why did this happen?” “How long will I feel like this?” “Why did [I/they/we] deserve this?”. The question I've been asking the most that's been driving the narrative for this project is:
			</p>

		<p><strong>How do you mourn someone who never really existed?</strong></p>
	</div>
	</div>
	</div>
	<div class="content-wrapper" id="research">
		<h2>Research</h2>
		<p>My research began in the Summer of 2024 in Design Studio, when I was initially designing the Sweet Little Hauntings brand. I started by looking into the aesthetics and history of pastel goth and pastel horror, as well as the logistics of product manufacturing for the shop.</p>
		<p>
			Since then, I have expanded my research to include more ARG projects, as well as practical research into JavaScript frameworks and code snippets to achieve what I need in the website. I've collected all of my inspiration and sources from the entire process into my Research Archive document.
		</p>
		<p class="ctr"><a href="https://docs.google.com/document/d/1iyRk76pBc7zwXu0BeqfB3FEI5CUzFm-2aZ0B_N0XQIg/edit?tab=t.0#heading=h.mk5fx75abz1g" class="btn-link" target="_blank">Research Archive</a></p>
		<p class="ctr"><a href="https://docs.google.com/document/d/11kX38k2k6rO55WNknLCzQlIFKPh_GX69hvviI7jtT18/edit?usp=sharing" class="btn-link" target="_blank">Bibliography</a></p>
		<div class="module">

			<div id="data">
				<h3>Data Collection</h3>
		<p>
			I reached out to potential audience members with an open, anonymous survey to learn about what others look for in horror media and ARG projects. This gave me some good insight on my audience and helped to inform the way I constructed the project.
		</p>
		<p>
			<a href="https://docs.google.com/spreadsheets/d/1fJ5m83j-kwWNZ2-_Pnwhb53pCpLDTXjJfnSUJx61n5A/edit?usp=sharing" class="btn-link" target="_blank">Survey Results</a>
		</p>
			</div>
			<div class="img-container med-img">
				<img src="/images/survey.png" alt="">
			</div>
			</div>
			<div id="user-test">
				<h3>User Testing</h3>
		<p>
			After building out the site into a functional version, I sent the link to a small group of interested potential users to playtest. I asked them to go throught the site, try to find the secrets, and let them know what they thought.
		</p>
		<p>
			The feedback that I got told me that, while the website was very nice and easy to use, what I had designed for the puzzles was a bit too challenging for those unfamiliar with ARGs. From here, I had a decision to make: I could either stick with what I have and shift my target audience to people who are looking for a more challenging puzzle experience, or I could add a few more hints and hand-holding. I chose to go with the latter, to make the story a little more accessible.
		</p>
			</div>
	

	</div>
	<div class="content-wrapper" id="process">
		<h2>Process</h2>
		<p>
			Like my research, I began with the planning stages of this project in Summer 2024. My goal the entire time was to create some sort of unfiction/ARG project, but I first focused on creating the the store in which to set it. 
		</p>
		<div class="module">

		<div class="module-child">


		<h3 class="rt">First Steps</h3>
		<p>
			During that summer term, I developed the brand identity, the logo, several products, custom packaging, and of course the shop mascot: Frankie. I knew I was going to want a character to help drive the impending narrative, and a ghostly mascot seemed like the best way to do it. It was around the end of this term that I also decided I wanted to make the narrative theme center around the five stages of grief, and I started planning a product line around that theme. 
		</p>
		</div>
		<div class="img-container">
			<img src="/images/slh-all-products.jpg" alt="">
		</div>
		</div>
		<div class="module img-left">
			<div class="module-child">
				<h3>Phase 2</h3>
		<p>
			The following summer, I took a class called "Experimental Interaction", and as part of that I was able to re-vist and expand the branding to incorporate more versatile patterns and much more of Frankie. At this point, I had a clearer vision for Frankie's role, so I wanted to make sure she was very prevalent.
		</p>
		<p>
			I also created a few more graphics to use around the eventual site that I knew I would be making soon.
		</p>
			</div>
			<div class="img-container med-img">
				<img src="./images/frankie-heart.png" alt="">
			</div>
		</div>

		<h3>Making it Real</h3>
		<p>
			Once I started Capstone class in Fall 2025, I knew it was crunch time. I immediately bought the domain name and started building the site at my first opportunity.
		</p>
		<p>
			After creating a simple one-page shop as proof-of-concept (<a href="https://sweetlittlehauntings.pages.dev/" target="_blank">which still lives online for archival purposes</a>), I charted out a basic user flow to determine what pages I needed to build and how to link them all together.
		</p>		
		<div class="img-container">
			<img src="/images/user-flow_basic.png" alt="The intended user flow for the shop portion of Sweet Little Hauntings">
		</div>
		<p>
			It was around this time that I realized I could either continue coding everything 100% manually, or I could switch to a framework to help simplify certain tasks and ensure page consistency where I wanted it. I took what I had built, set it aside, and started over with a framework called Astro.
		</p>
		<h3>Diving Deeper</h3>
		<p>
			When the basic site was done, I set about integrating the secret puzzles and hidden pages that turned this project from a basic online store into an ARG. 
		</p>
		<p>
			I had already written out the basic premise and outline of the story, so I then listed out the five stages of grief to act as each of my five "Acts", and then divided story beats where they felt appropriate. At this point, I knew I would have time to complete the entire story in a satisfactory way, so I focused on acts one and two, Denial and Anger, as a starting point.
		</p>
		<p>
			From there, I revisted my user flow diagram and copied it twice, once for each act I needed to design, and then I mapped out where I was going to insert the secrets. I've included those diagrams below, but I'd advise you not to look at them yet if you'd like to thoroughly explore the site for yourself first.
		</p>
		<SpoilerButton>
			<h4>Act I: Denial</h4>
			<div class="img-container">
				<img src="/images/user-flow_denial.png" alt="the intended user flow for the Denial act of Sweet Little Hauntings">
			</div>
			<p>&nbsp;</p>
			<h4>Act II: Anger, scene i</h4>
			<div class="img-container">
				<img src="/images/user-flow_anger.png" alt="the intended user flow for the Anger act of Sweet Little Hauntings">
			</div>

		</SpoilerButton>
		<div class="chunk">
			<h3>Finishing Touches</h3>
		<p>
			With the secrets mapped out, I added them to the site, sent it to my users for testing, and revised from there. The final piece was adding the actual story content to those hidden pages, and the project was complete (for now)!
		</p>
		</div>
		<div class="chunk">
					<h3 id="tools">Tools and Technology</h3>
		A quick rundown of everything I used for this project.
		<div class="tool-cards">
			<div class="tool-card">
				<h4>Organization and Planning</h4>
				<ul>
					<li><strong>Notion</strong> for general planning, note-taking, and story outlines</li>
					<li><strong>Physical sketchbook</strong> for product, brand, and website ideation</li>
					<li><strong>Procreate</strong> for product ideation and sketching</li>
					<li><strong>Figma/Figjam</strong> for UX design</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Branding</h4>
				<ul>
					<li><strong>Adobe Illustrator</strong> for logo designs, icons, and Frankie graphics</li>
					<li><strong></strong></li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Graphics</h4>
				<ul>
					<li><strong>Clip Studio Paint</strong> for illustrations</li>
					<li><strong>Adobe Photoshop</strong> for mock-ups</li>
					<li><strong>Adobe Premiere</strong> for video editing</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Coding</h4>
				<ul>
					<li><strong>HTML, CSS, and Javascript</strong> as coding languages used</li>
					<li><strong>Astro</strong> as a framework to organize and optimize the website</li>
					<li><strong>VS Code</strong> to have somewhere to write and test the code</li>
					<li><strong>Snipcart</strong> to run product-cart interactions</li>
				</ul>
			</div>
			<div class="tool-card">
				<h4>Website</h4>
				<ul>
					<li><strong>Cloudflare</strong> for domain registration and web hosting</li>
					<li><strong>GitHub</strong> as a repository for Cloudflare Workers to build from</li>
					<li><strong>Cloudinary</strong> for video hosting and delivery</li>
				</ul>
			</div>
		</div>
		</div>

	</div>
	<div class="content-wrapper" id="deliverables">
		<div class="chunk">
			<h2>Deliverables</h2>
			<p>To keep things organized in my notes, I've been dividing the elements of this project into three categories: The Front Rooms, The Back Rooms, and The Story.</p>
		</div>

	<div class="module">
		<div class="module-child">
		<h3>The Front Rooms</h3>
		<p>
					These are the surface-level elements of the website. This is what site visitors see on first glance, and what they might take away if they don't look closer.
				</p>
				<p>
					My main goal with creating The Front Rooms was to make a believable mock e-commerce site. I wanted users to see it and think "Ah yes, this is just a normal online shop. Nothing weird to see here."
				</p>
				<p>
					This is where all of the branding and products that I created can be found, but there are also surface-level snippets of the narrative scattered throughout. This is especially true on the About page and in the Blog, where site visitors can glean bits and pieces of the shop owner's personality.
				</p>
		</div>
		<div class="img-container">
			<img src="./images/deadly-boba-die-cut.jpg" alt="">
		</div>
	</div>		

<div class="module">
	<div class="module-child">
		<h3>The Back Rooms</h3>
		<p>
			These are the hidden pages of the site and the puzzles that lead there. They require a bit more observation and thinking to get to.
		</p>
		<p>
			If you would like to explore the site and try to discover and solve the puzzles on your own, I recommend skipping to the next section as the button below will open a basic walkthrough. 
		</p>
		<SpoilerButton>
			<div class="chunk">
				<h4>Walkthrough of Act I: Denial </h4>
			<div class="img-container">
				<img src="/images/user-flow_denial.png" alt="the intended user flow for the Denial act of Sweet Little Hauntings">
			</div>
			<p>My number one goal with this was to provide enough information in the front rooms of the website so that anyone could potentially stumble into this chapter just by using the website normally, but I didn't want it to be too easy.</p>
			<div class="module">
				<div class="module-child">
					<p>The first breadcrumb is located in the shopping cart. When a user goes to checkout, they encounter a message that says "Oops! Frankie broke the checkout!" with a broken-hearted Frankie and a button that says "Sorry".</p>
					<p>When a user clicks on the button, it takes us to a blog post acknowledging the cart error.</p>
				</div>
				
				<div class="img-container med-img">
					<img src="./images/cart-error.png" alt="" >
				</div>
			</div>
			<div class="module img-left">
				
				<div class="module-child">
					 <p>The blog post contains an apology, but also some out of place capital letters.... </p>
					 <p>If you take all the letters that are capitalized where letters shouldn't be (in the middle of sentences and words), they spell something out:</p>
					 <SpoilerButton>
						<p>FORPOPPY</p>
					 </SpoilerButton>
					 <p>Save that for later.</p>
				</div>
				<div class="img-container">
					<img src="./images/blog-post.png" alt="" title="This screenshot is in dark mode because otherwise the edges blended in with the background of this page">
				</div>
			</div>
			<div class="module">
				<div class="module-child">
					<p>The blog post also contains a link to the new product collection that the shop owner is very excited about. You may or may not have visited them before, but now might be a good time to take a look.</p>
					<p>If you check out the product page for the Denial sticker (and you happen to be in light mode on the website) it looks like this:</p>
					<div class="img-container">
						<img src="./images/denial_light.png" alt="A screenshot of the Denial product page, including product photo, price, description, and 'Add to Cart' button">
					</div>
					<p>If you look closely at the product photo, there's a message in the corner that reads "Sometimes you see better in the dark".</p>
					<p>When you toggle the site into dark mode by clicking the sun icon in the website's menu bar, a new message appears:</p>
					<div class="img-container">
						<img src="./images/denial_dark.png" alt="A screenshot of the Denial product page in dark mode. A new message has appeared below the product photo that reads: 'You don't look so fine to me'">
					</div>
					<p>This is a link. click it!</p>
					<p>It leads you to a password-protected page with the slug /keepout/</p>
					<div class="img-container">
						<img src="./images/password.png" alt="">
					</div>
					<p>This is where that secret message from the blog post comes in handy. Enter that as the password (it's not case sensitive, by the way), and take a look at what you find.</p>
				</div>
			</div>
			<div class="chunk">
				<p>And that's it for Act I!</p>
			</div>
			
			</div>
			<div class="chunk">
				<h4>Walkthrough of Act II: Anger, scene i</h4>
				<div class="img-container">
					<img src="/images/user-flow_anger.png" alt="the intended user flow for the Anger act of Sweet Little Hauntings">
				</div>
				<p>Coming Soon</p>
			</div>
			
		</SpoilerButton>
	</div>
</div>
		
	<div class="module">
		<div class="img-container med-img">
			<img src="./images/frankie-wordmark.png" alt="">
		</div>
		<div class="module-child">
			<h3>The Story</h3>
		<p>
			As of now, the very beginnings of this five-act story are live on the site and ready to be discovered. This includes what I consider to be the prologue&mdash;Act I: Denial&mdash;and the first scene of Act II: Anger.
		</p>
		<p>
			I invite you to take some time to explore the site and decipher the story on your own first. In a future update, I plan to add a summary of the story so far behind a spoiler toggle so you can read my intentions, but for now I'd like to give everyone a chance to experience the narrative spoiler-free at first.
		</p>
		</div>
	</div>	
		
	</div>
	<div class="content-wrapper" id="summary">
		<h2>Final Thoughts and Future Plans</h2>
		<div class="module">
			<div class="module-child">
				<p>
					The story of Sweet Little Hauntings is far from over. As I mentioned before, only the very beginnings of the narrative are on the site, and I plan to continue to release updates as I complete them until the story has been told in full.
				</p>
				<p>
					What started as a fun project to explore aesthetics and topics I was interested in has grown into something very personal and meaningful to me, and I am very excited to get to share this with the world. I hope you join me for the ride!
				</p>
			</div>	
			<div class="image-container img-shrink">
				<img src="/images/coming-soon.png" alt="">
			</div>
		</div>
	</div>
</div>
</BaseLayout>
