---
import BaseLayout from "../layouts/BaseLayout.astro"
import Hero from "../components/Hero.astro"
const pageTitle = "Capstone Project: Sweet Little Hauntings"
---
<BaseLayout pageTitle={ pageTitle }>
	<Hero pageTitle = { pageTitle }>
		<h2>Exploring themes of grief through mystery, horror, and design.</h2>
		<p>
			How do you mourn someone who never really existed?
		</p>
	</Hero>
	<div class="content-wrapper module">
		<h2>About the Project</h2>
		<p>
			Project Description goes here Leo volutpat nascetur lorem consectetur aenean phasellus ante libero potenti lectus. Ante nec metus maximus facilisis scelerisque diam at urna mattis massa duis. Feugiat neque leo ligula ad praesent donec est luctus.
		</p>
		<p>
			Luctus natoque imperdiet porttitor pretium etiam venenatis auctor. Nisi sollicitudin rhoncus suspendisse fames habitant. Euismod libero parturient praesent integer mattis eleifend. Etiam commodo phasellus proin lorem libero faucibus himenaeos. Accumsan aliquam tempus porttitor iaculis metus cras est lacinia praesent mollis. Per rutrum dictumst facilisi nulla ultricies rhoncus phasellus justo vel praesent. Eu iaculis ultricies augue proin non. Vehicula aenean interdum pretium ullamcorper est lobortis elementum montes consequat suscipit.
		</p>
		<p>
			Augue ullamcorper porta venenatis dolor nascetur sagittis donec ex. Penatibus facilisi morbi lacinia quis tempus risus ornare dignissim augue nam. Neque molestie consectetur sapien pharetra ultricies eros interdum. Rutrum per ad hendrerit magnis vestibulum semper pulvinar eros morbi finibus faucibus.
		</p>
		<h3>What is Unfiction?</h3>
		<p>
			Unfiction definition goes here Pharetra rutrum volutpat magnis nascetur gravida tempor. Odio himenaeos felis turpis ad convallis mollis diam ex iaculis taciti nam. Litora nisi amet ad aptent per condimentum luctus felis.
		</p>
		<h3>What is an ARG?</h3>
		<p>
			ARG Definition goes here Vel phasellus hendrerit nullam molestie potenti bibendum nunc efficitur feugiat himenaeos. Leo ullamcorper pretium nunc lorem dapibus urna nascetur vitae sit inceptos per. Risus urna class lectus nostra aliquet conubia enim porta purus nisl.
		</p>
	</div>

	<div class="content-wrapper module">
		<h2>What problem does this solve?</h2>
		<p>
			I want to connect with others and form community around difficult or sensitive topics through creative means of storytelling.
		</p>
		<h3>Why does this solve that?</h3>
		<p>
			Topics like mental illness and grief can be very isolating things, and they can be difficult to talk about outright. I know I personally have a hard time communicating about my own struggles.
		</p>
		<p>
			Stories and storytelling allow us to connect and empathize with others, as well as process and reflect on our own feelings. 
		</p>
		<p>
			Puzzles and mystery solving not only help people engage their brains and practice critical thinking skills, but most people also love feeling like they have access to hidden knowledge or achievements that they had to work to get.
		</p>
	</div>
	<div class="content-wrapper module">
		<h2>Research</h2>
		<p>Text about the research process Nam vitae at nascetur sit commodo purus. Maecenas dolor augue laoreet dignissim id congue habitasse. Congue litora viverra taciti class aptent ornare et.</p>
		<h3>Research Process</h3>
		<p>
			Describe the research process Vehicula nunc facilisi aenean faucibus auctor nibh torquent. Lacinia metus ac justo hac quam quis. Libero fusce convallis ipsum malesuada id dictumst lectus egestas facilisis ad.
		</p>
		<p>
			Cursus id class ornare habitant egestas amet libero. Dolor consectetuer senectus cursus etiam odio vivamus euismod ridiculus. Eleifend aliquet odio pharetra nullam integer auctor a consectetuer si diam. Maecenas euismod consequat est etiam placerat sapien taciti accumsan parturient.
		</p>
		<h3>Data Collection</h3>
		<p>
			Porta sit dapibus venenatis felis hendrerit elementum facilisis natoque. Vehicula tincidunt rhoncus lobortis tempor sodales enim eget lacus mollis. Aenean eget pellentesque dolor luctus elementum cras justo. Ac diam per at purus eu vel dictumst nibh fringilla. Litora penatibus quis facilisis elementum si consequat efficitur dolor class adipiscing enim. Ut pretium arcu quis aliquet posuere.
		</p>
		<h3>User Testing</h3>
		<p>
			Habitant faucibus sociosqu montes finibus mus torquent elit. In luctus bibendum vestibulum integer sapien. Cursus nam ultricies class metus eget quisque. Risus purus orci vel semper at laoreet class primis platea.
		</p>
		<p>
			Sem sodales volutpat laoreet in vehicula malesuada nunc vulputate turpis nullam erat. Consectetur dapibus blandit aliquet venenatis ullamcorper elit odio a. Est lorem id lectus eget tellus nec venenatis maximus ultrices mus. Fermentum tempus interdum inceptos lorem faucibus diam justo lacus accumsan. Habitasse elit dis hac aenean mauris diam pretium. Aliquet morbi mattis etiam tortor fusce augue lacinia netus. Finibus pellentesque vehicula dignissim lorem conubia fermentum egestas ac. Ac sagittis ornare litora ut ante euismod pede etiam posuere turpis fringilla.
		</p>
	</div>
	<div class="content-wrapper module">
		<h2>Process</h2>
		<p>This is how I made it Proin nulla efficitur dui faucibus urna. Interdum id dignissim arcu ante dictumst etiam facilisis felis elementum quis finibus. Nulla vulputate quam nunc viverra rhoncus natoque libero. Consectetur diam orci molestie felis convallis duis egestas vivamus.</p>
		<p>Et ante elit potenti ornare leo nam sed faucibus libero lacinia. Magna ligula fames tempus faucibus diam morbi nibh neque. Convallis diam id nascetur letius turpis. Nullam lorem posuere habitant nec vehicula mollis eros risus.</p>
		<h3>Tools</h3>
		These are the things I used to make this:
		<div class="tool-cards">
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
			<div class="tool-card">
				<h4>Tool Name</h4>
				<p>Quick blurb of how I used it Facilisi erat pellentesque velit et lacinia molestie rhoncus proin in</p>
			</div>
		</div>
		<p>
			Some kind of wrap-up statement about process and tools.
		</p>
	</div>
	<div class="content-wrapper module">
		<h2>Deliverables</h2>
		<p>This is what I turned in Parturient id aliquam mattis eleifend fermentum. Convallis nam ultricies felis etiam adipiscing curabitur libero mi diam accumsan.</p>
		<h3>The Front Rooms</h3>
		<p>
			Explaining the surface elements of the website Morbi fames hac molestie commodo elit rhoncus natoque auctor quam id. Commodo phasellus semper habitant aptent elit nibh natoque eu diam potenti. Sed ultricies platea euismod faucibus libero magnis ultrices curabitur. Leo diam dictum cras habitasse purus accumsan rhoncus congue lacinia.
		</p>
		<p>
			Tristique etiam vulputate praesent diam molestie platea morbi. Si consequat montes fringilla mollis natoque sodales sit dui quam lacus. Mollis primis erat curabitur habitasse nullam pretium pede tincidunt. Imperdiet natoque augue aliquam vulputate aliquet class metus si netus nascetur justo.
		</p>
		<h3>The Back Rooms</h3>
		<p>
			Explaining the hidden elements of the site Dolor proin condimentum sociosqu et mattis penatibus suspendisse pretium. Cubilia vitae ac mattis netus egestas mus auctor dictumst posuere feugiat. In parturient mattis duis imperdiet pretium molestie vivamus aliquam tempus nunc curabitur. Mi quis sem vivamus lectus leo.
		</p>
		<p>
			Maybe include a spoiler button to go more in-depth on the puzzles?
		</p>
		<button class="spoiler">Spoiler Button</button>
		<h3>The Story</h3>
		<p>Explaining the Narrative -- probably will do some sort of button to hide/reveal this and warn for spoilers.</p>
		<button class="spoiler">Spoiler Button</button>
	</div>
	<div class="content-wrapper module">
		<h2>Summary</h2>
		<p>
			Summary of the project Adipiscing ad turpis suscipit class cursus viverra natoque. Nibh sapien habitasse molestie ex suspendisse. Venenatis ante adipiscing suspendisse aptent at odio semper nam fames rutrum viverra. Integer purus mus senectus elit porttitor venenatis consectetuer dolor sollicitudin mollis.
		</p>
		<p>
			Eu tincidunt sem elit parturient luctus ligula quam magnis hac laoreet neque. Vivamus efficitur quisque metus mus potenti maximus interdum luctus porttitor facilisis. Aliquet si arcu pulvinar pretium parturient luctus. Urna dis aliquet torquent massa lacus eleifend mi magnis iaculis.
		</p>
	</div>
</BaseLayout>
