---

---
<style>
    footer {
        background-color: var(--black);
        color: var(--pink);
        padding: 0.5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .footer-nav ul {
        display: flex;
        gap: 10px;
        list-style-type: none;
    }

    a {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: var(--pink);
        transition: 0.2s;
    }
    a:hover {
        color: var(--purple);
    }
</style>

<footer>
    <p>&copy; 2025 Arden Roddie, created for the MAGWD program at MCAD</p>
    <nav class="footer-nav">
        <ul>
            <li><a href="https://slh-bts.tumblr.com/" target="_blank">Tumblr</a></li>
        </ul>
        
        
    </nav>
    
</footer>

