---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header id="navbar">
    <nav >
        <Hamburger />
        <Navigation />
    </nav>
</header>

<style>
    header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 999;
        transition: top 0.2s;
    }
</style>
<script src="../scripts/header.js"></script>