---
const { display, pageTitle } = Astro.props;

---

	<div class="hero">
		<div class="content-wrapper">
			<h1 class={display}>{pageTitle}</h1>
		<slot />
		</div>
		
	</div>

	<style>
		.hero {
			background-image: url('/images/bg-light-pattern.jpg');
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 50vh;
			max-height: fit-content;
			padding: 20px;
			margin-bottom: 50px;
		}
	</style>