---

---

<button class="spoiler-toggle">Spoilers Ahead</button>
<div class="spoiler">
    <slot />
</div>

<style>
    .spoiler-toggle {
		background-color: var(--pink);
		color: var(--black);
		font-family: var(--small-caps);
    }

	.spoiler-toggle:hover, .active {
		background-color: var(--black);
		color: var(--mint);
	}

    .spoiler {
        padding: 0 10px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<script>
    let spoiler = document.getElementsByClassName("spoiler-toggle");
    let i;

    for ( i = 0; i < spoiler.length; i++) {
        spoiler[i].addEventListener("click", function() {
            this.classList.toggle("active");


            let spoilerContent = this.nextElementSibling;
            if (spoilerContent.style.maxHeight) {
                spoilerContent.style.maxHeight = null;
                this.innerHTML = "Spoilers Ahead"
            } else {
                spoilerContent.style.maxHeight = spoilerContent.scrollHeight + "px";
                this.innerHTML = "Close Spoilers"
            }
        })
    }
</script>